@model SistemaNomina.Models.Department
@{
    ViewData["Title"] = "Nuevo Departamento";
}

<h2>Nuevo Departamento</h2>
<form method="post">
    <div class="mb-3">
        <label>Nombre del Departamento</label>
        <input asp-for="dept_name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="/Departamentos" class="btn btn-secondary">Cancelar</a>
</form>